

<div class="rowi">
  <h1>Puntaje Final</h1>
  <p>Los resultados son</p>
  <h2>  <%= @results[:message] %></h2>
  <%= @results[:score] %>

  <p>Tus puntajes</p>
  <% session[:score].each_with_index do |score, index| %>

<div class="tabla">
  <table class="egt">
    <tr>
      <td>
        Juego numero <%= index +1 %>.- <%= score %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Total de puntos <%=session[:score].reduce :+  %>   </td>
      </tr>
    </table>
</div>
    <%= link_to "Juega de nuevo", "new" %>
    <br>
    <%= link_to "Reset", "nuevo" %>
  </div>
