

<div class="rowi">
  <h1>Puntaje Final</h1>
  <p>Los resultados son</p>
  <h2>  <%= @results[:message] %></h2>
  <%= @results[:score] %>

  <p>Tus puntajes</p>
  <% session[:score].each_with_index do |score, index| %>
  <ul class="unlisted">
    <li> Juego numero <%= index +1 %>.- <%= score %>
    </li>
    <% end %>
    <li>Total de puntos <%=session[:score].reduce :+  %></li>
  </ul>

  <%= link_to "Juega de nuevo", "new" %>
    <br>
  <%= link_to "Reset", "nuevo" %>
</div>
